<p>Car carbon footprint calculator</p>
<div class="">
  <form action="">
    <mat-form-field>
      <mat-label>Car Type</mat-label>
      <mat-select>
        <mat-option value="1">Sedan</mat-option>
        <mat-option value="2">SUV</mat-option>
        <mat-option value="3">Truck</mat-option>
        <mat-option value="4">Van</mat-option>
        <mat-option value="5">Motorcycle</mat-option>
        <mat-option value="6">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Car Make</mat-label>
      <mat-select>
        <mat-option value="1">Toyota</mat-option>
        <mat-option value="2">Honda</mat-option>
        <mat-option value="3">Ford</mat-option>
        <mat-option value="4">Chevrolet</mat-option>
        <mat-option value="5">Nissan</mat-option>
        <mat-option value="6">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Car Model</mat-label>
      <mat-select>
        <mat-option value="1">Corolla</mat-option>
        <mat-option value="2">Civic</mat-option>
        <mat-option value="3">F-150</mat-option>
        <mat-option value="4">Silverado</mat-option>
        <mat-option value="5">Altima</mat-option>
        <mat-option value="6">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Car Year</mat-label>
      <mat-select>
        <mat-option value="1">2020</mat-option>
        <mat-option value="2">2019</mat-option>
        <mat-option value="3">2018</mat-option>
        <mat-option value="4">2017</mat-option>
        <mat-option value="5">2016</mat-option>
        <mat-option value="6">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Car Mileage</mat-label>
      <input matInput placeholder="Miles" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Car Fuel Type</mat-label>
      <mat-select>
        <mat-option value="1">Petrol</mat-option>
        <mat-option value="2">Diesel</mat-option>
        <mat-option value="3">Electric</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<button mat-button matStepperPrevious mat-raised-button>Back</button>
<button mat-button matStepperNext mat-raised-button color="primary">
  Next
</button>
