<p>
  Calculator for Secondary Carbon Footprint Enter your expenditure in each
  category below, and click the Estimate button to calculate your secondary
  carbon footprint.
</p>
<p>Currency: LKR</p>
<div class="">
  <form action="">
    <mat-form-field>
      <mat-label> Food </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Drinks </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Pharmaceuticals </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Clothing </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Paper based products </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Computers & IT Equipment </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Televisions & Audio Equipment </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Motor Vehicles (not including fuel) </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Furniture </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Hotels & Restaurants </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Telephone & Internet </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Banking & Finance </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Insurance </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Education </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Sporting Activities </mat-label>
      <input matInput placeholder="LKR" type="number" />
    </mat-form-field>
  </form>
</div>
<button mat-button matStepperPrevious mat-raised-button>Back</button>
<button mat-button matStepperNext mat-raised-button color="primary">
  Next
</button>
