<p>
  Public transport carbon footprint calculator Enter mileage for each type of
  public transport, and press the Calculate button
</p>
<div class="">
  <form action="">
    <mat-form-field>
      <mat-label>Bus</mat-label>
      <input matInput placeholder="km" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Commuter Train</mat-label>
      <input matInput placeholder="km" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Express Train</mat-label>
      <input matInput placeholder="km" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Taxi</mat-label>
      <input matInput placeholder="km" />
    </mat-form-field>
  </form>
</div>
<button mat-button matStepperPrevious mat-raised-button>Back</button>
<button mat-button matStepperNext mat-raised-button color="primary">
  Next
</button>
