<p>
  Carbon Footprint Estimation Tool for Households. <br />
  Input your energy consumption for each energy type and click the Calculate
  button. <br />
  Your personal carbon footprint is determined by dividing the total energy
  consumption by the number of individuals in your household.
</p>

<div class="">
  <form autocomplete="off">
    <mat-form-field>
      <mat-label>Electricity</mat-label>
      <input matInput placeholder="kWh" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Natural Gas</mat-label>
      <input matInput placeholder="kWh" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Heating Oil</mat-label>
      <input matInput placeholder="kWh" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Coal</mat-label>
      <input matInput placeholder="kWh" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Propane</mat-label>
      <input matInput placeholder="kWh" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Wood</mat-label>
      <input matInput placeholder="kWh" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>LPG</mat-label>
      <input matInput placeholder="kWh" />
    </mat-form-field>
  </form>
</div>

<button mat-button matStepperPrevious mat-raised-button>Back</button>
<button mat-button matStepperNext mat-raised-button color="primary">
  Next
</button>
